.step{
	font-family: 'HeiTi SC';
	font-weight: bold;
	.row{
		padding: 0;
	}
	.circle{
		$size: 75px;
		width: $size;
		height: $size;
		border-radius: $size;
		background: $assertive;
		border: solid 5px $gray-light;
		color: $white;
		text-align: center;
		margin: 15px auto;
		.name{
			padding-top: 10px;
		}
		.desc{
			line-height: 1;
		}
	}
}