<ion-view>
	<ion-content>
		<banner-credit></banner-credit>

		<step name="2" desc="绑定还款银行卡"></step>

		<div class="item" ng-class="{'item-icon-right': !user.kyc}">
			实名信息
			<span class="item-note" ng-click="showKycPopup()" ng-show="user.idNo">{{user.realname}} {{user.idNo | idEncryptor}}</span>
			<i class="icon assertive" ng-class="{'ion-ios-plus-empty': !user.realname, 'ion-ios-compose-outline': user.realname && !user.kyc}" ng-click="showKycPopup()"></i>
		</div>
		<div class="fs-xs gray padding content-algin-item">仅用于开通第三方支付验证，名校贷将确保您的信息安全！</div>
		<div class="item item-icon-right">
			银行卡信息
			<span class="item-note" ng-click="showAddCardPopup()">{{bank.name}} <span ng-show="card.cardNo">尾号</span>{{card.cardNo | tailNo}}</span>
			<i class="icon assertive" ng-class="{'ion-ios-plus-empty': !bank.name, 'ion-ios-compose-outline': bank.name}" ng-click="showAddCardPopup()"></i>
		</div>

		<div class="padding assertive content-algin-item fs-xs">为确保资金安全，必须是本人实名的储蓄卡哦</div>

		<div class="item item-icon-right">
			手机验证
			<span class="item-note" ng-click="showPhoneAuthPopup()" ng-show="card.vcode">
				{{card.phone}}
			</span>
			<i class="icon assertive" ng-class="{'ion-ios-plus-empty': !card.vcode, 'ion-ios-compose-outline': card.vcode}" ng-click="showPhoneAuthPopup()"></i>
		</div>
		<!-- <div class="padding gray content-algin-item fs-xs">*部分银行绑卡会暂扣1元钱，该金额将于24小时内退还至平台余额。</div> -->

		<div class="padding"></div>
		<div class="dbl-margin">
			<button type="button" class="button button-block button-assertive no-margin" ng-disabled="!user.idNo || !card.cardNo || !card.vcode" ng-click="submit()">开通</button>
			<!-- <div class="text-center fs-xs padding gray">点击开通代表您已同意<span class="assertive" ng-click="showPayTosModal()">《支付协议》</span>和<span class="assertive" ng-click="showEntrustPayTosModal()">《委托支付协议》</span></div> -->
		</div>

		<set-pay-password ng-if="enablePayPaswordCheck"></set-pay-password>

	</ion-content>
</ion-view>