<form name="passwordForm" ng-submit="submitPayPassword()">
	<div class="item item-input">
		<input type="password" ng-model="user.payPassword" placeholder="请输入6位数字支付密码" ng-pattern="/^[0-9]{6}$/" required>
	</div>

	<div class="item item-input margin-vertical">
		<input type="password" ng-model="user.payPasswordConfirm" placeholder="请确认支付密码" required>
	</div>

	<div class="padding-top">
		<button class="button button-block button-assertive no-margin" ng-disabled="passwordForm.$invalid || user.payPassword !== user.payPasswordConfirm">确定</button>
	</div>
</form>
