.send-vcode{
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  .item-input{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    margin-right: 10px;
  }
  .button{
    width: 130px;
  }
}