<ion-view id="download">
	<ion-content>
		<div class="wrapper">
			<div class="download">
				<button class="button button-block button-light energized" ng-click="downloadAndroid()">安卓版下载</button>
				<button class="button button-block button-light energized" ng-click="downloadIos()">iOS版下载</button>
			</div>

			<div class="text-center white desc">
				<div class="slogan">大学生借款当然要找</div>
				<div class="app-name">名校贷</div>
				<div class="tips">·额度100-50000元   ·48小时到账   ·月息0.99%</div>
			</div>
		</div>
	</ion-content>
</ion-view>