<form name="passwordForm" ng-submit="submitPayPassword()">
	<div class="padding-bottom text-center">请输入支付密码</div>
	<digital-password ng-model="user.payPassword"></digital-password>

	<div class="padding text-center">请确认支付密码</div>
	<digital-password ng-model="user.payPasswordConfirm"></digital-password>

	<div class="padding text-center assertive" ng-show="user.notMatch">*两次输入密码不一致</div>

	<div class="dbl-padding-top">
		<button class="button button-block button-positive no-margin" ng-disabled="passwordForm.$invalid || user.payPassword !== user.payPasswordConfirm">确定</button>
	</div>
</form>
