<ion-view id="agreements">
	<ion-content>
		<div class="padding margin-horizontal">
			<div class="button-bar padding">
				<a class="button button-assertive" ng-click="contractType = 0" ng-class="{ 'button-outline': contractType===1 }">委托支付协议</a>
				<a class="button button-assertive" ng-click="contractType = 1" ng-class="{ 'button-outline': contractType===0 }">借款担保协议</a>
			</div>
		</div>

		<ion-list>
			<a ng-href="{{link + 'contractType=' + contractType + '&billId=' + item.billId}}" ng-repeat="item in items" class="item">{{item.year}}年{{item.month}}月</a>
			<ion-item class="text-center" ng-show="!items.length">
				无协议
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>