.digital-password{
	input{
		opacity: 0;
		// color: transparent;
		letter-spacing: 45px;
		// visibility: hidden;
		// z-index: -1;
		line-height: 1px;
		font-size: 0;
		text-indent: -100px;
		-webkit-appearance: none;
		&:focus{
			outline: none;
		}
	}
	.digits{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		display: -webkit-box;
		display: -webkit-flex;
		display: flex;
		background: $white;
		z-index: -1;
		.digit{
			-webkit-box-flex: 1;
	    -webkit-flex: 1;
	    flex: 1;
	    position: relative;
	    &:not(:last-child){
	    	border-right: solid 1px #ddd;
	    }
	    &:after{
	    	$size: 16px;
	    	content: '';
	    	display: block;
	    	width: $size;
	    	height: $size;
	    	border-radius: $size;
	    	background: #000;
	    	position: absolute;
	    	top: 50%;
	    	left: 50%;
	    	margin-left: -$size/2;
	    	margin-top: -$size/2;
	    	opacity: 0;
	    }
	    &.show:after{
	    	opacity: 1;
	    }
		}
	}
}