<ion-view id="bills">
	<ion-content>
		<div class="text-center date-selector">
			<i class="icon ion-arrow-left-b energized" ng-click="month(-1)"></i>
			{{date | moment: 'YYYY年MM月'}}
			<i class="icon ion-arrow-right-b energized" ng-click="month(1)"></i>
		</div>
		<ion-list>
			<ion-item ng-repeat="item in items">
				<div class="fs-md">
					{{item.desc}}
					<div class="pull-right" ng-class="{balanced: +item.amount>0, assertive: +item.amount<0}">
						{{item.amount | currency: (+item.amount>0 ? '+':'')}}
					</div>
				</div>
				<div class="fs-xs gray">订单号: {{item.orderNo}}<div class="pull-right">{{item.date}}</div></div>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>