<ion-view id="bills">
	<ion-content>
		<div class="text-center date-selector">
			<i class="icon ion-arrow-left-b energized" ng-click="month(-1)"></i>
			{{date | moment: 'YYYY年MM月'}}
			<i class="icon ion-arrow-right-b energized" ng-click="month(1)"></i>
		</div>
		<ion-list>
			<ion-item ng-repeat="item in items" ng-hide="+item.amount == 0">
				<div class="fs-md">
					{{item.type}}
					<div class="pull-right" ng-class="{balanced: +item.amount>0, assertive: +item.amount<0}">
						{{item.amount | currency: (+item.amount>0 ? '+':'')}}
					</div>
				</div>
				<div class="fs-xs gray"><span ng-show="item.billId">订单号: </span>{{item.billId}}<div class="pull-right">{{item.exchangeTime}}</div></div>
			</ion-item>
			<ion-item ng-show="!items.length">
				<div class="text-center padding">无记录</div>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>