<ion-view>
	<ion-content>
		<banner-id></banner-id>

		<div class="item margin-top item-icon-right">
			身份证正面上传
			<span class="item-note" ng-show="file.front">上传成功</span>
			<i class="icon ion-ios-plus-empty assertive" ng-hide="file.front" ng-click="showFrontPopup()"></i>
			<i class="icon ion-ios-checkmark-empty balanced" ng-show="file.front"></i>
		</div>

		<div class="item margin-top item-icon-right">
			手持身份证上传
			<span class="item-note" ng-show="file.hold">上传成功</span>
			<i class="icon ion-ios-plus-empty assertive" ng-hide="file.hold" ng-click="showHoldPopup()"></i>
			<i class="icon ion-ios-checkmark-empty balanced" ng-show="file.hold"></i>
		</div>

	</ion-content>
</ion-view>