#account{
	.scroll{
		height: 100%;
	}
	.top{
		background: linear-gradient(#FFDA44, #FBBC29);
	}
	.refund-tip{
		line-height: 30px;
		// padding-left: 20px;
		background: rgba(255,255,255,.4);
		img{
			vertical-align: middle;
			margin-right: 5px;
		}
	}
	.available{
		// padding-left: 20px;
		line-height: initial;
		border-bottom: solid 1px rgba(255,255,255,.4);
		.amount{
			font-size: 70px;
		}
	}
	.refund{
		background: #FBBC29;
		line-height: 2;
		.col-50{
			padding: 10px 0 10px 20px;
		}
		.col-50:first-child{
			border-right: solid 1px rgba(255,255,255,.4);
		}
	}
}