<ion-view>
  <ion-content>
    <banner></banner>
		<form name="regForm" ng-submit="register()">
			<div class="item item-input margin-top">
				<span class="input-label">手机号</span>
				<input type="tel" placeholder="请输入手机号码" ng-model="user.phone" ng-pattern="/^[0-9]{11}$/" disabled required>
			</div>

			<div class="item item-input margin-top vcode">
				<span class="input-label">验证码</span>
				<input type="tel" placeholder="请输入验证码" ng-model="user.vcode" ng-pattern="/^[0-9]{4}$/" maxlength="4" required>
				<button type="button" class="button button-small button-assertive" ng-click="sendSms()" ng-disabled="!user.phone || resendCountdown">
					<span ng-show="resendCountdown">{{resendCountdown}}秒后重新发送</span>
					<span ng-hide="resendCountdown">发送验证码</span>
				</button>
			</div>

			<div class="dbl-margin">
				<button class="button button-block button-assertive" ng-disabled="regForm.$invalid">注册</button>
				<div class="text-center fs-xs">点击注册即同意名校贷<a ng-click="showCreditModal()" class="assertive">《名校贷授信服务协议》</a>以及<a ng-click="showPrivacyModal()" class="assertive">《隐私协议》</a></div>
			</div>
		</form>
  </ion-content>
</ion-view>